<ion-header>
  <ion-navbar>
    <ion-title>{{userName}}</ion-title>
  </ion-navbar>
</ion-header>
<ion-content>
  <div class="message-wrap">
    <div *ngFor="let msg of msgList" class="message" [class.left]=" msg.userId === toUser.id "
      [class.right]="msg.userId === user.id">
      <ion-spinner name="dots" *ngIf="msg.status === 'pending'"></ion-spinner>
      <div class="msg-detail">
        <div class="msg-info">
          <p>
            {{msg.userName}}&nbsp;&nbsp;&nbsp;{{msg.time | relativeTime}}</p>
        </div>
        <div class="msg-content">
          <span class="triangle"></span>
          <p class="line-breaker ">{{msg.message}}</p>
        </div>
      </div>
    </div>
    <ion-spinner name="dots" *ngIf="loader"></ion-spinner>
  </div>
</ion-content>
<ion-footer no-border [style.height]="showEmojiPicker ? '255px' : '55px'">
  <div class="input-wrap">
    <textarea #chat_input placeholder="Text Input" [(ngModel)]="editorMsg" (keyup.enter)="sendMsg()"
      (focusin)="onFocus()">
    </textarea>
    <button ion-button id="myBtn" clear icon-only item-right (click)="sendMsg()">
      <ion-icon name="ios-send" ios="ios-send" md="md-send"></ion-icon>
    </button>
  </div>
</ion-footer>

<!-- <ion-header>
  <ion-toolbar class="header">
    <ion-title color="light">Business</ion-title>
    <ion-buttons slot="end">
      <ion-icon name="contact" icon-only color="light"></ion-icon>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content padding class="contentBg" #content id="chat-parent" overflow-scroll="true"
  (ionScrollStart)="logScrollStart()" (ionScroll)="logScrolling($event)">
  <div>
    <div id="chat-container">
      <span class="line-style"></span>
      <hr>
      <div class="message-wrap">
        <div *ngFor="let msg of msgList;let i = index; let first = first; let last = last" class="message">

          <div class="message-left" *ngIf="msg.userId == toUser">
            <img class="user-img" [src]="msg.userAvatar">
            <div class="msg-detail">
              <div class="msg-content">
                <p class="line-breaker ">{{msg.message}}</p>
              </div>
            </div>
          </div>
          <div class="message-right" *ngIf="msg.userId == User">
            <ion-spinner name="dots" *ngIf="msg.status === 'pending'"></ion-spinner>
            <div class="msg-detail">
              <div class="msg-info">
              </div>
              <div class="msg-content">
                <p class="line-breaker  ">{{msg.message}}</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>


</ion-content>

<ion-footer style="flex: 1;" class="footer">
  <ion-toolbar class="footerSections">
    <div class="containerFooter">
      <div class="inputConatiner">
        <ion-input class="placeholdertext inputMessage inputBg" type="text" placeholder="Type a message"
          [(ngModel)]="inp_text" autofocus="true" padding-start></ion-input>
      </div>
      <div class="send-button-parent">
        <button ion-button (click)="sendMsg()" class="sendBtn" color="primary">
          <ion-icon class="sendBtn-icon" name="send" color="light"></ion-icon>
        </button>
      </div>
    </div>
  </ion-toolbar>
</ion-footer> -->